.menuItem,
.text {
  color: #323232;
  font-family: Arial, Helvetica, sans-serif;
}
.menuItem {
  vertical-align: middle;
  text-align: center;
}

.botonCategory {
  font-family: Arial, Helvetica, sans-serif;
}

.category {
  margin-top: 5px;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 50px;
}

.boxTerms {
  margin-top: 70px;
}
