.menuItem{
    color: #323232;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 70px;;
}

.botonCategory{
    font-family: Arial, Helvetica, sans-serif;
}

.boxMenu{
    margin-top: 200px;
}

.category{
    margin-left: 70px;
    margin-bottom: 50px;
}

.boxTerms{
    margin-top: 70px;
}