.menuItem,
.text {
  color: #323232;
  font-family: Arial, Helvetica, sans-serif;
}
.menuItem {
  vertical-align: middle;
  text-align: center;
}

.botonCategory {
  font-family: Arial, Helvetica, sans-serif;
}

.boxMenu {
  position: fixed;
  left: 30px;
  top: 28%;
  width: 8em;
}
.boxMenuLogin {
  position: fixed;
  left: 30px;
  top: 45%;
  width: 8em;
}
.boxUser {
  position: fixed;
  left: 30px;
  top: 15%;
  width: 25em;
}
.usuarioInfo {
  vertical-align: middle;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.category {
  margin-top: 5px;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.boxTermsLogin {
  position: fixed;
  left: 30px;
  top: 80%;
  width: 8em;
}

.boxTerms {
  position: fixed;
  left: 30px;
  top: 72%;
  width: 8em;
}

.menuDesplegable,
.category,
.boxMenuLogin,
.boxMenu {
  z-index: 1;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .boxUser {
    transform: scale(0.8);
    top: 10%;
    left: 10px;
  }
  .boxMenu,
  .boxMenuLogin {
    transform: scale(0.8);
    position: block;
    left: 10px;
    top: 25%;
    width: 7em;
  }
  .boxTerms,
  .boxTermsLogin {
    transform: scale(0.8);
    left: 10px;
    top: 45%;
  }
}

@media (max-width: 544px) {
  .boxTerms,
  .boxUser,
  .boxTermsLogin {
    visibility: hidden;
  }
  .boxMenuLogin,
  .boxMenu {
    z-index: 0;
  }

  .boxMenu,
  .boxMenuLogin {
    transform: scale(0.7);
    position: block;

    left: 30px;
    top: 20.5%;
    width: 8em;
  }

  @media (max-width: 360px) {
    .boxMenu,
    .boxMenuLogin {
      top: 22%;
    }
  }
  @media (max-width: 375px) {
    .boxMenu,
    .boxMenuLogin {
      top: 18%;
    }
  }
  @media (max-width: 320px) {
    .boxMenu,
    .boxMenuLogin {
      top: 25%;
    }
  }
}
