.cardPrimary {
  margin-top: 10px;
  width: 30rem;
}

.cardBody {
  font-family: Arial, Helvetica, sans-serif;
}

.cardTitle,
.cardImg,
.cardSubtitle {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.botonesLike {
  border-radius: 6px;
  padding: 9px;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.buttonComment {
  align-content: center;
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 100;
  padding: 10px;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  font-family: Arial, Helvetica, sans-serif;
}

.buttonComment:hover {
  color: #404040 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: rgb(220, 220, 220);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}

@media (max-width: 544px) {
  .cardPrimary {
    margin-top: 15px;
    width: 17rem;
    margin-left: -10px;
  }
  .botonesLike {
    border-radius: 6px;
    padding: 2px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .buttonComment {
    align-content: center;
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 2px;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .buttonComment:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    padding: 7px;
    background: rgb(220, 220, 220);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
  }
}