header {
    padding: 15px;
    text-align: center;
    background: #323232;
    color: white;
    font-size: 30px;
  }

  .title{
      margin-left: 240px;
      text-align: center;
  }

  .icono{
    max-width: 4%;
    height: auto;
    margin-left: 15px;
    color: aliceblue;
  }

.loginIn, .signIn{
    border-radius: 40px;
    margin-right: 5px;
    font-size: 20px;;
}


  