body {
  background: #24c6dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #514a9d,
   /*#008C9E,*/
    #24c6dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #514a9d,
   /* #008C9E,*/
    #24c6dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.col-centered {
  float: none;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}

.memePosition {
  flex-grow: 1;
  overflow: auto;
  min-height: 2em;
}

.menuBox {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


